.CharacterCard {
    display: flex;
    flex-direction: column;
    color: white;
    width: 20%;
    height: 350px;
    border: 0.1em solid white;
    position: relative; 
    text-align: left;
}

.CharacterCard-img {
    object-fit: cover;
    width: 100%; 
    height: 50%;
    position: relative;
    top: 0;
}

.CharacterCard-text{
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.CharacterCard-text p{  
    margin-top: 0.5em;
    font-family:'Barlow', sans-serif;
    max-height: 50%;

}

.CharacterCard-text h3{
    margin: 0;
    font-family:'Barlow', sans-serif;
    font-weight: 600;
    color: #ed1a3b;
    
}